body {
  margin: 0px;
  padding: 0px;
}

@font-face{
  font-family: "Sen-regular";
  src: url(../FONTS/Sen-Regular.ttf);
}

@font-face {
  font-family: "Roboto-regular";
  src: url(../FONTS/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(../FONTS/Roboto-Bold.ttf);
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 1220px;
}

.header {
  display: flex;
  max-width: 1120px;
  margin: auto;
  background-color: #FCFCFC;
  padding: 22px;
  align-items: center;
  justify-content: space-between;
}

.header_LogIn {
  border-radius: 5px;
  color: white;
  background-color: #32AEA0;
  width: 130px;
  height: 40px;
  margin-left: 80px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
  background-image: url(../ICONS/LogIn.svg);
  font-size: 24px;
  background-position-y: center;
  background-position-x: 10px;
  text-align: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  padding-left: 20px;
}

.header_LogIn:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.header_shop-cart {
  background-repeat: no-repeat;
  background-image: url(../ICONS/shop-cart.svg);
  background-size: 40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin-left: 60px;
}

.header-cabinet{
  border-radius: 5px;
  color: white;
  background-color: #32AEA0;
  width: 130px;
  height: 40px;
  margin-left: 80px;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  text-align: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: 15px;
  font-family: "Roboto-regular";
  text-align: center;
}

.header-cabinet a{
  text-decoration: none;
  color: white;
}

.header-cabinet:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.header_shop-cart:hover{
  transform: scale(1.1);
}

.Logo {
  background-repeat: no-repeat;
  background-image: url(../IMG/Logo.png);
  background-size: 206px;
  width: 206px;
  height: 57px;
}

.Search-Box {
  width: 495px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-image: url(../ICONS/Loopa.svg);
  background-position-y: center;
  background-position-x: 15px;
  margin-left: 80px;
  padding-left: 50px;
}

.content{
  display: flex;
  max-width: 1120px;
  margin: auto;
}

.sections{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color:transparent;
  border: none;
  outline: none;
  width: 300px;

}

.line:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.line:hover .section-line-text{
  color:#5DB6E8;
}

.line:focus .section-line-text{
  color:#5DB6E8;
}

.section-line-pick{
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.section-line-text{
  font-size: 25px;
  margin-left: 10px;
}

.line-divider{
  background-color: #DDDDDD;
  width: 290px;
}

.arrow{
  background-image: url(../ICONS/Arrow.svg);
  background-repeat:no-repeat;
  background-size:cover;
  width: 24px;
  height: 31px;
  margin-left: 20px;
}

.cards-block{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width:780px;
}

.cards-block h2{
  font-family: 'Roboto-regular',sans-serif;
  height: 0px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  align-items: center;
  outline: none;
  cursor: pointer;
  line-height: 15px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  width: 175px;
  height: 300px;
  margin-top: 50px;
}

.card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.card-image{
  width: 170px;
  height: 150px;
  object-fit: scale-down;
}

.card-title{
  font-family: "Roboto-bold";
}

.card-discription{
  width: 170px;
  margin-top: -10px;
}

.card-price{
  font-family: "Roboto-regular";
  color: #666666;
  margin-left: -100px;
  margin-top: -10px;
}

.card-btn{
  background-color: #32AEA0;
  width: 120px;
  height: 35px;
  color: white;
  font-family: "Roboto-bold";
  font-size: 11.5px;
  padding: 10px;
  text-align: center;
  vertical-align: center;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-image: url(../ICONS/Add-to-cart.svg);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.card-btn:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  box-shadow: 5px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

.footer{
  display: flex;
  width: 1120px;
  height: 150px;
  margin: auto;
  margin-top: 50px;
  background-color: #F3F2F3;
  justify-content: space-between;
}

.media-vk{
  background-image: url(../ICONS/vk.svg);
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-repeat: no-repeat;
  transition:0.5s;
  cursor: pointer;
}

.media-facebook{
  background-image: url(../ICONS/facebook.svg);
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-repeat: no-repeat;
  transition:0.5s;
  cursor: pointer;
}

.social-media{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media h4{
  font-family: "Roboto-regular";
}

.media{
  display: flex;
}

.media-vk:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.media-facebook:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.support{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.1px;
  margin-top: 10px;
}

.support h4{
  font-family: "Roboto-regular";
}

.support p{
  color: #999898;
  font-family: "Roboto-regular";
}

.advanced-actions{
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 15px;
  margin-right: 20px;
}

.advanced-actions a{
  color: #999898;
  text-decoration: none;
  font-family: "Roboto-regular";
}

.LogIn-bg{
  background-color: #00000077;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}

.LogIn-bg-opened{
  background-color: #00000077;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

.LogIn-window{
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.LogIn-window h4{
  color: #32AEA0;
  font-family: "Roboto-bold";
  font-size: 24px;
  margin-left: 100px;
}

.LogIn-window-headline{
  display: flex;
  width: 270px ;
  justify-content: space-between;
  /* align-items: center; */
}

.closer{
  display: flex;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  transition: 0.5s;
}

.closer:hover{
  transform: scale(1.05);
}

.closer-stick{
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
  transform: rotate(45deg);
  position: absolute;
}

.closer-stick:nth-child(2){
  transform: rotate(-45deg);
}

.LogIn-content{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 350px;
  align-items: center;
}

.LogIn-login{
  font-family: "Roboto-regular";
  height: 25px;
  width: 250px;
}

.LogIn-password{
  margin-top: 10px;
  font-family: "Roboto-regular";
  height: 25px;
  width: 250px;
}

.LogIn-btn{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color: #32AEA0;
  border: none;
  color: white;
  font-family: "Roboto-bold";
  font-size: 24px;
  outline: none;
  transition: 0.5s
}

.LogIn-btn:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.LogIn-footer{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.LogIn-footer p{
  font-family: "Roboto-regular";
  font-size: 12px;
}

.LogIn-footer button{
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Roboto-regular";
  font-size: 12px;
  color: #5DB6E8;
  outline: none;
}

.registration-bg{
  background-color: #00000077;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}

.registration-bg-opened{
  background-color: #00000077;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
}

.registration-window{
  width: 300px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.registration-headline{
  display: flex;
  width: 270px ;
  justify-content: space-between;
}

.registration-headline h4{
  color: #32AEA0;
  font-family: "Roboto-bold";
  font-size: 24px;
  margin-left: 60px;
}

.registration-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: auto;
  height: 300px;
}

.reg-FIO{
  width: 250px;
  font-family: "Roboto-regular";
  height: 25px;
}

.reg-Login{
  width: 250px;
  font-family: "Roboto-regular";
  height: 25px;
  margin-top: 10px;
}

.reg-Password{
  width: 250px;
  font-family: "Roboto-regular";
  height: 25px;
  margin-top: 10px;
}

.reg-Phone{
  width: 250px;
  font-family: "Roboto-regular";
  height: 25px;
  margin-top: 10px;
}

.reg-btn{
  height: 20px;
  background-color: #32AEA0;
  cursor: pointer;
  border: none;
  font-family: "Roboto-regular";
  font-size: 12px;
  color: white;
  outline: none;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s;
}

.reg-btn:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.closer-reg{
  display: flex;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 20px;
  transition: 0.5s;
}

.closer-reg:hover{
  transform: scale(1.05);
}

.user-caninet-main{
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-left: 100px;
}

.user-caninet-main h2{
  font-family: "Roboto-regular";
  font-size: 35px;
}

.logOut-icon{
  background-image: url(../ICONS/LogOut.svg);
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
}

.logOut{
  display: flex;
  width: 500px;
}

.logOut p{
  width: 150px;
}

.logOut a{
  color: #5DE8D7;
  margin-left: 20px;
  font-family: "Roboto-regular";
}
